<%- include ('../../header.ejs') %>
<%- include ('../nav.ejs', {active: "dashboard"}) %>
    <p>Welkom</p>

    <style>

    </style>

    <script>
        const {Client, Account, ID} = Appwrite;
        const client = new Client()
            .setEndpoint("https://aw.responsible-it.nl/v1")
            .setProject("63a32dec14be845ec0f9")

    </script>
</div>
</div>
<%- include ('../../footer.ejs') %>