<%- include ('../header.ejs') %>
<div id="login-container">
    <h1><%= title %></h1>
    <form method="post">
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <button type="submit">Login</button>
    </form>

    <style>
        #login-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 8px;
            max-width: 40vw;
        }
    </style>

    <script>
        console.log("Hello World");

    </script>
</div>

<%- include ('../footer.ejs') %>
