<%- include ('../header.ejs') %>
<div id="login-container">
    <form id="login-form" method="post">
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <button type="submit">Login</button>
    </form>

    <style>
        #login-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        #login-form {
            display: flex;
            flex-direction: column;
            gap: 8px;
            max-width: 40vw;
        }
    </style>

    <script>
        const {Client, Account, ID} = Appwrite;
        const client = new Client()
            .setEndpoint("https://aw.responsible-it.nl/v1")
            .setProject("63a32dec14be845ec0f9")

        const loginForm = document.getElementById("login-form");
        loginForm.addEventListener("submit", handleSubmit);

        function handleSubmit(e) {
            e.preventDefault();
            const formData = new FormData(e.target);
            const props = Object.fromEntries(formData);

            const account = new Account(client);
            const login = new Promise((resolve, reject) => {
                account.createEmailSession(
                    props.email,
                    props.psw
                ).then(function (response) {
                    resolve(response);
                }, function (error) {
                    reject(error);
                });
            });

            login.then((res) => {
                if (res) {
                    fetch(window.location.href, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        credentials: "same-origin",
                        body: JSON.stringify({
                            "session_id": res["$id"],
                            "user_id": res["userId"]
                        })
                    }).then(function (response) {
                        if (response.redirected) {
                            location.href = response.url
                        }
                    });
                }
            }).catch((error) => {
                //TODO error handling login fail
            });

        }
    </script>
</div>

<%- include ('../footer.ejs') %>
