<div id="container" class="grid grid-cols-12">
    <div id="nav-container" class="col-span-2">
        <nav class="menu min-h-screen">
            <ul id="nav-list">
                <li><h1 class="text-3xl font-bold">Prapla</h1></li>
                <li><a class="active" href="/cms">Dashboard</a></li>
                <li><a href="/cms/students">Kinderen</a></li>
                <li><a href="/cms/lists">Lijsten</a></li>
                <li><a href="/cms/words">Woorden</a></li>
                <li><a href="#about">Gebruikers</a></li>
            </ul>
            <a class="sticky top-[90vh] btn bg-red-500 ml-8 mr-8" href="/logout">Uitloggen</a>
        </nav>

        <style>


        </style>
        <script>

        </script>
    </div>
    <div id="content-container" class="container p-4 col-span-10 bg-slate-100">
        <h1 class="text-2xl font-bold text-slate-400 italic"><%= title %></h1>
