<div id="nav-container" class="col-span-2">
    <nav>
        <h2>Prapla</h2>
        <ul id="nav-list">
            <li><a href="/cms">Dashboard</a></li>
            <li><a href="/cms/students">Kinderen</a></li>
            <li><a href="/cms/lists">Lijsten</a></li>
            <li><a href="/cms/words">Woorden</a></li>
            <li><a href="#about">Gebruikers</a></li>
            <li>
                <hr/>
            </li>
            <li><a href="/logout">Uitloggen</a></li>

        </ul>
    </nav>

    <style>


    </style>
    <script>

    </script>
</div>
<div id="content-container" class="container pt-6">