<div id="container" class="h-screen grid grid-cols-12">
    <div id="nav-container" class="col-span-2">
        <nav class="menu min-h-screen w-2/12 fixed">
            <ul id="nav-list">
                <li><h1 class="text-3xl font-bold">Prapla</h1></li>
                <li><a <%if(active=="dashboard"){%>class="active bg-red-600"<%}%> href="/cms">Dashboard</a></li>
                <li><a <%if(active=="students"){%>class="active bg-red-600"<%}%> href="/cms/students">Kinderen</a></li>
                <li><a <%if(active=="lists"){%>class="active bg-red-600"<%}%> href="/cms/lists">Woordenlijsten</a></li>
                <li><a <%if(active=="words"){%>class="active bg-red-600"<%}%> href="/cms/words">Woorden</a></li>
                <li><a <%if(active=="users"){%>class="active bg-red-600"<%}%> href="/cms/users">Gebruikers</a></li>
            </ul>
            <a class="sticky top-[95vh] btn btn-link ml-8 mr-8" href="/logout">Uitloggen</a>
        </nav>

        <style>


        </style>
        <script>

        </script>
    </div>
    <div class="container pl-4 col-span-10 bg-slate-100 h-full">
<!--        <h1 class="text-3xl font-bold text-slate-500 italic"><%= title %></h1>-->