<div id="nav-container">
    <nav>
        <h2>Prapla</h2>
        <ul id="nav-list">
            <li><a href="/cms">Dashboard</a></li>
            <li><a href="#contact">Kinderen</a></li>
            <li><a href="/cms/lists">Lijsten</a></li>
            <li><a href="/cms/words">Woorden</a></li>
            <li><a href="#about">Gebruikers</a></li>
            <li>
                <hr/>
            </li>
            <li><a href="/logout">Uitloggen</a></li>

        </ul>
    </nav>

    <style>
        nav {
            background-color: #f1f1f1;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            padding: 8px;
        }

        #nav-list {
            list-style-type: none;
            overflow: auto;
            padding-left: 0;
        }

        #nav-list> li {
            margin: 8px;
        }

    </style>
    <script>

    </script>
</div>
    